main {
  @include outer-container;
  background-color: $background-color;
  padding-bottom: $nav-height;
}

#nav {
    z-index: 1;
    text-align: center;
    background-color: $blue;

  @include media($mobile-screen-only) {
    @include span-columns(3);
    height: $nav-height;
    position: fixed;
    bottom: 0;
    padding-top: 8px;
    width: 100%;
    font-size: rem(12);
  }
  a {
    color: $eggshell-white;
   }
  & > p {
    margin: 0;
    height: $nav-height;
  }


  @include media($medium-screen-only) {
    @include span-columns(6);
    height: $nav-height;
    position: fixed;
    top: 0;
    padding-bottom: 8px;
    width: 100%;
    font-size: rem(20);
  }
}

#navlinks {
  @include media($mobile-screen-only) {
    @include span-columns(3);

  }
}
