  <div class="review">
    <hr>
    <h4>
      <%= @event_review.comment %></br>

      <% if @event_review.user_id != nil %>
        <em> by <%= @event_review.user.first_name %> </em>
        <h5>My Event Rating: <%= @event_review.star_rating %></h5>
        Added on: <%=@event_review.created_at %>
      <% end %>
    </h4>
  </div>
