<%= form_for [@event, @review], :remote => true do |f| %>
  <% if @event_review.errors.present? %>
    <div class="event-review-errors">
       <ul>
          <% @event_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
          <% end %>
      </ul>
    </div>
  <% end %>
<% end %>