<h3>Event Reviews</h3>

  <% @event.reviews.each do |review| %>
    <hr>
    <h4>
      <%= review.comment %></br>

      <% if review.user != nil %>
        <em> by <%= review.user.name %> </em>
        Added on: <%=review.created_at %>
      <% end %>
    </h4>
  <% end %>