<h3>Reviews</h3>
<div class="review">
  <% @event.reviews.each do |review| %>
    <hr>
    <h4>
      <%= review.comment %></br>

      <% if review.user != nil %>
        <em> by <%= review.user.username %> </em>
        Added on: <%=review.created_at %>
      <% end %>
    </h4>
  <% end %>
</div>