<h1>Your Friends</h1>

<% if @friendships %>
  <% @friendships.each do |friendship| %>
    <% if friendship.friender == current_user %>
      <%= friendship.friendee.full_name %>
    <% else %>
      <%= friendship.friender.full_name %>
    <% end %>
  <% end %>

  <% else %>
    <p> You currently don't have any friends.</p>
  <% end %>