<% if @randomevent %>

  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <%= render partial: "card" %>
    </div>
  </div>

 <% else %>

  <div class="welcome-text-box">
    <p class="welcome-text2">There currently aren't any events in your area.</p>
    <a href="/events/new"><button class="sign-up-buttons">START ONE NOW</button></a>
  </div>

<% end %>
