<div class="main">

  <!-- Swipe Card for Logged In User -->

  <% if @randomevent %>
    <%= render "randomevent" %>
    <div class="random-button">
      <button class="animate-trigger">RANDOM EVENT</button>
    </div>

  <% else %>
  <!-- Clear nav on landing page alone -->
    <div class="introduction">

      <div class="welcome-text-box">
        <p class="welcome-text">PlusOne</p>
        <h2 class="welcome-text2">Meet like-minded people around<br>your area.</h2>
      </div>
      <div class="typed">
      <span class="element">Let's </span>
      </div>


      <a href="/users/new"><div class="pulse-button">+</div></a>

    <style>
    #nav {
      display: none;
    }
    .container {
      display: none;
    }
    </style>

    <div id="home-buttons">

      <a href="/login"><p class="sub-line">Already Have an Account?</p></a>
    </div>
<% end %>


<% if current_user %>



<!-- FLIP GRID -->
<div class="outer-container">
    <% @nearby_events.each do |event| %>
  <div id="f1_container">
    <div id="f1_card">
      <div class="front face">
        <%= image_tag (event.image_url(:mobile)) %>
      </div>
      <div class="back face center">
        <%= event.event_name %></br>
        <%= event.full_street_address %>
      </div>
    </div>
  </div>
<% end %>

<% end %>
</div>



</div>

