.header-background {
  width: 100%;
  @include media($large-screen-only) {
    padding-top: $nav-height;
  }
 }


.event {
  @include media($large-screen-only) {
    @include fill-parent();
    @include omega(6n);
  }
}

.event-container {
  @include media($mobile-screen-only) {
    margin: rem(10);
  }
}
