// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .user-map-canvas {
//   height: 500px;
//   width: 500px;
//   margin: 20px;
// }

// .event-map-canvas {
//   height: 500px;
//   width: 500px;
//   margin: 20px;
// }

// .event-header-container {
//   text-align: center;
//   width: 100%;
//   img {
//     margin: 0 auto;
//   }
// }

// .event-details {
//   position: absolute;
//   left: 0;
//   top: 12%;
//   background-color: rgba(0, 0, 0, 0.2);
//   width: 100%;

// }

////////// Lightbox Popup from Refills ///////////
.modal {
  // $base-border-color: gainsboro !default;
  // $base-border-radius: 3px !default;
  // $base-background-color: white;
  // $base-font-size: 1em !default;
  // $base-line-height: 1.5em !default;
  // $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $large-screen: em(860) !default;
  $base-font-color: black;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;
  text-align: center;
  margin-bottom: rem(20);

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-state {
    display: none;
  }

  .modal-trigger {
    @include button(flat, $action-color);
    text-align: center;
    padding: 0.8em 1em;
    @include media($mobile-screen-only) {
      width: 70%;
    }
    @include media($large-screen-only) {
      width: 30%;
    }
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {
      padding-top: 3em;
    }

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background: $modal-background;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    width: 95%;
    border: 1px solid white;
    form {
      label {
        color: black;
      }
      h4 {
        color: black;
      }
    }

    @include media($large-screen) {
      width: 50%;
    }

    h1 {
      color: $base-font-color;
      margin-bottom: 0 0 0.6em 0;
      text-align: center;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    .modal-intro {
      font-weight: 800;
      text-align: center;
      margin-top: 2rem;
     }

    .modal-content {
      color: $base-font-color;
      text-align: center;
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  @include media($mobile-screen-only) {
    @include span-columns(4);
    @include omega (0);
    width: 10%;
    height: 10%;
  }
  overflow: hidden;
}

.avatars{
  margin-top: rem(2);
  text-align:center;
}

.profile-pic-modal {
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    border-radius: 10%;
    background-color: black;
  @include media($mobile-screen-only) {
    width: rem(50);
    height: rem(50);
  }
  @include media($large-screen-only) {
    width: rem(100);
    height: rem(100);
    img {
      width: rem(100);
      height: rem(100);
    }
  }
}

.popup-pic {
  width: rem(50);
  height: rem(50);
  border-radius: 10%;
}

.popup-buttons-wrapper {
  @include media($mobile-screen-only) {
    @include span-columns(4);
  }

  @include media($large-screen-only) {
    @include span-columns(12);
  }
  width: 100%;

  .modal-trigger {

    text-align: center;
  }
}

.pop-up-submit {
  text-align: center;
  width: 100%;
}

.map-button {
  width: 100%;
}

.review-button {
  width: 100%;
}


.request-button {
  @include media($mobile-screen-only) {
    @include span-columns(4);
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.request-event-field {
  @include media($mobile-screen-only) {
    input {
      height: rem(70);
    }
  }
}

.map-container {
  padding-top: 30px;
}

.reviews {
  margin: rem(12);
  @include media($mobile-screen-only) {
    margin-bottom: $nav-height;
  }
}

.event-header-container {

  height: 100%;
  text-align: center;
  position: relative;

  img {
      position: relative;
    @include media($mobile-screen-only) {
      width: 100%;
      height: rem(320);
    }
    @include media($large-screen-only) {
      width: 60%;
      height: rem(400);
      border-radius: rem(10);
      margin-top: rem(10);
    }
  }
}

.event-header-text {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin-top: rem(40);
  text-align: center;
  ul {
      background: rgba(34,34,34,0.5);
  }
  @include media($large-screen-only) {
    width: 60%;
    left: 20%;
  }
  .event-alert {
    color: #BB0A00;
    text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0);
  }


  text-shadow:
  -1px -1px 0 rgba(0, 0, 0, 0.2),
  1px -1px 0 rgba(0, 0, 0, 0.2),
  -1px 1px 0 rgba(0, 0, 0, 0.2),
  1px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-1, .modal-2, .modal-3 {
  margin: 0 auto;
}
