#home-buttons {
  margin-top: 2rem;
}

.sub-line {
  text-align:center;
  font-size: 0.8em;
}

.welcome-text-box {
  margin-top: 4rem;
}

.welcome-text {
    text-align: center;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    @include media($large-screen-only) {
      font-size: 10.0em;
    }
    color: white;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.welcome-text2 {
  text-align: center;
  font-size: 1.0em;
  @include media($large-screen-only) {
    font-size: 2.0em;
  }
}

.sign-up-buttons {
  display: block;
  margin: 0 auto;
  margin-bottom:1em;
  border-radius: 10px;
}

.home-logo {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.home-logged-in-text {
  text-align: center;
  margin-top: rem(60);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: rem(10);
}

////////// CARD /////////
.swipe-card-wrapper {
  text-align: center;
  color: $eggshell-white;
  background-color: #212121;
  @include media($mobile-screen-only) {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    height: 100%;
  }
  @include media($large-screen-only) {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    padding-top: $nav-height;
    max-width: 50%;
    margin: 0 auto;
  }
}

.event-card {
  @include media($mobile-screen-only) {
    @include flex-basis(15em);
    @include flex-grow(1);
    @include transition (all 0.2s ease-in-out);
    animation: swipeleft 1000ms linear both;
    background-color: #424242;
    cursor: pointer;
    position: relative;
    // height:300p;
  }

  @include media($large-screen-only) {
    animation: swipeleft 1000ms linear both;
  }

  .event-card-image {
    overflow: hidden;
    width: 100%;

    img {
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
    @include media($mobile-screen-only) {

    }
  }

  .event-card-title {
    @include transition (all 0.2s ease-in-out);
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  &:focus,
  &:hover {
    background-color: $black;

    .event-card-image img {
      background: $card-image-hover-background;
    }

    .event-card-header {
      background-color: $grey-black;
    }
  }

  &:active {
    background-color: $grey-black;

    .event-card-header {
      background-color: $grey-black;
    }
  }
}

#load {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(https://www.adevole.com/clients/vdigital/images/loading.gif);
  width: 43px;
  height: 11px;
  text-indent: -9999em;
}


// @keyframes swipeleft {
//   0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3000, 0, 0, 1); }
//   2.6% { transform: matrix3d(0.795, 0.607, 0, 0, -0.607, 0.795, 0, 0, 0, 0, 1, 0, 2270.31, 0, 0, 1); }
//   3.6% { transform: matrix3d(0.731, 0.682, 0, 0, -0.682, 0.731, 0, 0, 0, 0, 1, 0, 2016.286, 0, 0, 1); }
//   5.11% { transform: matrix3d(0.699, 0.716, 0, 0, -0.716, 0.699, 0, 0, 0, 0, 1, 0, 1666.247, 0, 0, 1); }
//   7.21% { transform: matrix3d(0.741, 0.672, 0, 0, -0.672, 0.741, 0, 0, 0, 0, 1, 0, 1240.513, 0, 0, 1); }
//   10.81% { transform: matrix3d(0.878, 0.479, 0, 0, -0.479, 0.878, 0, 0, 0, 0, 1, 0, 679.667, 0, 0, 1); }
//   11.41% { transform: matrix3d(0.897, 0.442, 0, 0, -0.442, 0.897, 0, 0, 0, 0, 1, 0, 605.408, 0, 0, 1); }
//   14.31% { transform: matrix3d(0.962, 0.273, 0, 0, -0.273, 0.962, 0, 0, 0, 0, 1, 0, 314.063, 0, 0, 1); }
//   17.62% { transform: matrix3d(0.992, 0.13, 0, 0, -0.13, 0.992, 0, 0, 0, 0, 1, 0, 97.547, 0, 0, 1); }
//   21.42% { transform: matrix3d(0.999, 0.037, 0, 0, -0.037, 0.999, 0, 0, 0, 0, 1, 0, -40.088, 0, 0, 1); }
//   23.92% { transform: matrix3d(1, 0.008, 0, 0, -0.008, 1, 0, 0, 0, 0, 1, 0, -85.197, 0, 0, 1); }
//   28.53% { transform: matrix3d(1, -0.011, 0, 0, 0.011, 1, 0, 0, 0, 0, 1, 0, -110.54, 0, 0, 1); }
//   30.13% { transform: matrix3d(1, -0.012, 0, 0, 0.012, 1, 0, 0, 0, 0, 1, 0, -108.53, 0, 0, 1); }
//   48.55% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.209, 0, 0, 1); }
//   55.16% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.738, 0, 0, 1); }
//   68.57% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.107, 0, 0, 1); }
//   80.18% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.071, 0, 0, 1); }
//   100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
// }

@keyframes swiperight {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3000, 0, 0, 1); }
  2.6% { transform: matrix3d(0.795, -0.607, 0, 0, 0.607, 0.795, 0, 0, 0, 0, 1, 0, -1807.785, 0, 0, 1); }
  4.1% { transform: matrix3d(0.713, -0.702, 0, 0, 0.702, 0.713, 0, 0, 0, 0, 1, 0, -1259.123, 0, 0, 1); }
  5.11% { transform: matrix3d(0.699, -0.716, 0, 0, 0.716, 0.699, 0, 0, 0, 0, 1, 0, -955.203, 0, 0, 1); }
  8.11% { transform: matrix3d(0.774, -0.633, 0, 0, 0.633, 0.774, 0, 0, 0, 0, 1, 0, -316.472, 0, 0, 1); }
  11.41% { transform: matrix3d(0.897, -0.442, 0, 0, 0.442, 0.897, 0, 0, 0, 0, 1, 0, 18.72, 0, 0, 1); }
  12.11% { transform: matrix3d(0.917, -0.399, 0, 0, 0.399, 0.917, 0, 0, 0, 0, 1, 0, 55.303, 0, 0, 1); }
  16.12% { transform: matrix3d(0.982, -0.187, 0, 0, 0.187, 0.982, 0, 0, 0, 0, 1, 0, 130.068, 0, 0, 1); }
  17.62% { transform: matrix3d(0.992, -0.13, 0, 0, 0.13, 0.992, 0, 0, 0, 0, 1, 0, 123.696, 0, 0, 1); }
  23.92% { transform: matrix3d(1, -0.008, 0, 0, 0.008, 1, 0, 0, 0, 0, 1, 0, 52.349, 0, 0, 1); }
  27.23% { transform: matrix3d(1, 0.009, 0, 0, -0.009, 1, 0, 0, 0, 0, 1, 0, 23.516, 0, 0, 1); }
  30.13% { transform: matrix3d(1, 0.012, 0, 0, -0.012, 1, 0, 0, 0, 0, 1, 0, 8.313, 0, 0, 1); }
  38.34% { transform: matrix3d(1, 0.005, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, -3.11, 0, 0, 1); }
  55.16% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.016, 0, 0, 1); }
  60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.074, 0, 0, 1); }
  80.18% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes swipeleft {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1000, 0, 0, 1); }
  4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 419.708, 0, 0, 1); }
  8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.491, 0, 0, 1); }
  12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -18.434, 0, 0, 1); }
  16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -43.356, 0, 0, 1); }
  27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -7.839, 0, 0, 1); }
  38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.037, 0, 0, 1); }
  60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.025, 0, 0, 1); }
  82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}




///////// LARGE SCREEN HOME PAGE ///////////
.home-event-wrapper {
  @include outer-container;
  display: none;
  @include media($large-screen-only) {
    @include span-columns(12);
    display: inline;
  }
}

.home-event {
  @include omega(2n);
}




.pulse-button {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 0 auto;
  margin-top: 30px;
  left: 50%;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  padding-bottom: 8px;
  font-weight: bold;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 #555CC2;
  border-radius: 100%;
  v-align: middle;
  background: #555CC2;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
  font-size:2.5rem;
  text-align:center;
}


@keyframes pulse {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 153, 212, 0);
  }
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed{
  text-align:center;
  font-size:1.5rem;
  @include media($large-screen-only) {
    font-size: 2.0em;
  }
}
