#home-background-image {
  // background-image: url(home-background-mobile.jpg);
  // opacity: 0.5;
}
.home-buttons {


}
.sign-up-buttons {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: $black;
}
