#home-buttons {
  margin-top: 2rem;
}

.sub-line {
  text-align:center;
  font-size: 0.8em;
}

.welcome-text-box {
  margin-top: 1rem;
  @include media($mobile-screen-only) {
    margin-top: rem(70);
  }
}

.welcome-text {
    text-align: center;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    @include media($large-screen-only) {
      font-size: 10.0em;
    }
    color: white;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.welcome-text2 {
  text-align: center;
  font-size: 1.0em;
  @include media($large-screen-only) {
    font-size: 2.0em;
  }
}

.sign-up-buttons {
  display: block;
  margin: 0 auto;
  margin-bottom:1em;
  border-radius: 10px;
}

.home-logo {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.home-logged-in-text {
  text-align: center;
  margin-top: rem(60);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: rem(10);
}

@keyframes swiperight {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3000, 0, 0, 1); }
  2.6% { transform: matrix3d(0.795, -0.607, 0, 0, 0.607, 0.795, 0, 0, 0, 0, 1, 0, -1807.785, 0, 0, 1); }
  4.1% { transform: matrix3d(0.713, -0.702, 0, 0, 0.702, 0.713, 0, 0, 0, 0, 1, 0, -1259.123, 0, 0, 1); }
  5.11% { transform: matrix3d(0.699, -0.716, 0, 0, 0.716, 0.699, 0, 0, 0, 0, 1, 0, -955.203, 0, 0, 1); }
  8.11% { transform: matrix3d(0.774, -0.633, 0, 0, 0.633, 0.774, 0, 0, 0, 0, 1, 0, -316.472, 0, 0, 1); }
  11.41% { transform: matrix3d(0.897, -0.442, 0, 0, 0.442, 0.897, 0, 0, 0, 0, 1, 0, 18.72, 0, 0, 1); }
  12.11% { transform: matrix3d(0.917, -0.399, 0, 0, 0.399, 0.917, 0, 0, 0, 0, 1, 0, 55.303, 0, 0, 1); }
  16.12% { transform: matrix3d(0.982, -0.187, 0, 0, 0.187, 0.982, 0, 0, 0, 0, 1, 0, 130.068, 0, 0, 1); }
  17.62% { transform: matrix3d(0.992, -0.13, 0, 0, 0.13, 0.992, 0, 0, 0, 0, 1, 0, 123.696, 0, 0, 1); }
  23.92% { transform: matrix3d(1, -0.008, 0, 0, 0.008, 1, 0, 0, 0, 0, 1, 0, 52.349, 0, 0, 1); }
  27.23% { transform: matrix3d(1, 0.009, 0, 0, -0.009, 1, 0, 0, 0, 0, 1, 0, 23.516, 0, 0, 1); }
  30.13% { transform: matrix3d(1, 0.012, 0, 0, -0.012, 1, 0, 0, 0, 0, 1, 0, 8.313, 0, 0, 1); }
  38.34% { transform: matrix3d(1, 0.005, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, -3.11, 0, 0, 1); }
  55.16% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.016, 0, 0, 1); }
  60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.074, 0, 0, 1); }
  80.18% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes swipeleft {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1000, 0, 0, 1); }
  4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 419.708, 0, 0, 1); }
  8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.491, 0, 0, 1); }
  12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -18.434, 0, 0, 1); }
  16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -43.356, 0, 0, 1); }
  27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -7.839, 0, 0, 1); }
  38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.037, 0, 0, 1); }
  60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.025, 0, 0, 1); }
  82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}




///////// LARGE SCREEN HOME PAGE ///////////
// .home-event-wrapper {
//   @include outer-container;
//   display: none;
//   @include media($large-screen-only) {
//     @include span-columns(12);
//     display: inline;
//   }
// }

.home-event {
  .event-wrapper {
    @include span-columns(3);
    @include omega(4n);
  }
  .home-event-image-background {
  }
}


////////// HOME SCREEN ANIMATIONS //////////


.pulse-button {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 0 auto;
  margin-top: 30px;
  left: 50%;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  padding-bottom: 8px;
  font-weight: bold;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 #555CC2;
  border-radius: 100%;
  v-align: middle;
  background: #555CC2;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
  font-size:2.5rem;
  text-align:center;
}


@keyframes pulse {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 153, 212, 0);
  }
}


.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed {
  text-align:center;
  font-size:1.5rem;
  @include media($large-screen-only) {
    font-size: 2.0em;
  }
}

////////// RANDOM EVENT BUTTON ///////////

.animated {
  @include animation-duration(0.4s);
  @include animation-fill-mode(both);

  &.infinite {
    @include animation-iteration-count(infinite);
  }

  &.alternate {
    @include animation-direction(alternate);
  }

  &.iteration {
    @include animation-iteration-count(2);
  }
}

// Tweak the keyframes below. Or swap them with another animation pattern at
// https://github.com/daneden/animate.css/tree/master/source

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
}

/////////////////////////////////////////////////////////////



////////// entire container, keeps perspective //////////
.flip-container {
  perspective: 1000;
  margin: 0 auto;
  margin-top: rem(100);
  padding: 0;
  width: 400px;
  @include media($large-screen-only) {
    display: none;
  }
}
  ////////// flip the pane when hovered //////////
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.front, .back {
  width: 400px;
  height: 200px;
}

////////// flip speed goes here //////////
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

////////// hide back of pane during swap //////////
.front, .back {
  border: 6px solid black;
  border-radius: rem(7);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

////////// Front pane, placed above back //////////
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  height: 100%;
  border: 1px solid $grey;
}

////////// Back, initially hidden pane //////////
.back {
  transform: rotateY(180deg);
  height: 100%;
  text-align: center;
  background-color: $eggshell-white;
  ul {
    margin-top: rem(15);
    li {
      color: black;
    }
  }
  .spots-left {
    font-size: rem(15);
  }
  .card-title {
    font-size: rem(20);
  }
  button {
    font-size: rem(12);
  }
}

.animate-target {
  height: 300px;
}

.random-button {
  width: 100%;
  text-align: center;
  margin-top: rem(50);
  @include media($large-screen-only) {
    display: none;
  }
}
.animate-trigger {
  @include media($large-screen-only) {
    display: none;
  }
}



////////// FULLSCREEN SHOW ALL EVENTS //////////

#f1_container {
  position: block;
  margin-bottom: rem(30);
  margin-right: 0;
  width: 200px;
  height: 200px;
  z-index: 1;
  img {
    height: 100%;
    width: 100%;
  }

  @include media($mobile-screen-only) {
    display: none;
  }

  perspective: 1000;
  @include span-columns(2.5);
}

#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s linear;
}

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

.outer-container {
  padding-top: $nav-height;
  margin-left: rem(110);
  @include span-columns(12);
  height: 100%;
}