 .login {
  @include media($mobile-screen-only) {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  @include media($large-screen-only) {
    width: 50%;
    margin: 0 auto;
    margin-top: rem(40px);
    .login-button {
      width: 100%;
    }
  }
}

.login-button {
  left: 50%;
  padding: 0;
  width: 100%;
  @include media($mobile-screen-only) {
    padding-top: rem(20);
  }

  @include media($large-screen-only) {
    text-align: center;
    input {
      width: 30%;
    }
  }
}