#nav {
  @include span-columns(3);
  height: 40px;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #42A5F5;
  padding-top: 8px;

  a {
    color: white;
    padding: 20px;
   }
}