.upcoming-events {
  font-size: rem(30);
  margin-top: rem(20);
}
.my-event-container {
  text-align: center;
  margin-left: rem(20);
}

.my-event-image {
  img {
  border-radius: rem(10);
  }
}

.my-event-details {
  margin: 0 auto;
  background-color: rgba(0,0,0,0.2);
  width: 30%;
}