.submit-field {
  input {
    @include media($mobile-screen-only) {
      margin-bottom: $nav-height + 10;
      width: 100%;
      padding-bottom: rem(25);
      input {
      }
    }
  }
  @include media($large-screen-only) {
    width: 100%;
    text-align: center;
    input {
      width: 30%;
      margin: 0 auto;
      padding-bottom: rem(27);
    }
  }
}
.event-form-wrapper {
  .event-field {
    select {
      margin: 0;
      display: inline-block;
      margin-bottom: rem(12);
    }
  }
  @include media($mobile-screen-only) {
    margin-left: rem(20);
    margin-right: rem(20);
    margin-top: rem(30);
    input {
      height: rem(25);
    }
  }


  @include media($large-screen-only) {
    margin-top: rem(40);
    .event-field {
      width: 40%;
      margin: 0 auto;
      padding: 0;
    }
    label {
      margin: 0;
    }
    input {
      height: rem(26);
    }
  }
}