.submit-field {
  input {
    @include media($mobile-screen-only) {
      margin-bottom: $nav-height + 10;
      width: 100%;
    }
  }
}
.event-form-wrapper {
  @include media($mobile-screen-only) {
    margin: 10px;
  }
}