.profile{
  text-align:center;
  @include media($mobile-screen-only) {
    width: 100%;
    margin-top: rem(50);
  }
  @include media($large-screen-only) {
    margin-top: $nav-height + 10;
  }
 }

.name {
  @include media($mobile-screen-only) {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
  }
  @include media($large-screen-only) {
    font-size: 2rem;
    margin-top: rem(10);
  }
}

.event-counter {
  @include media($mobile-screen-only) {
    font-size: 0.8rem;
    padding: 0;

  }
}



.submit-button {
  margin-bottom: rem(20);
}

.profile-pic {
  top: 30%;
  margin: 0 auto;

  @include media($mobile-screen-only) {
    background-repeat: no-repeat;
    background-position: 50%;
    // margin-top: 500px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
  @include media($large-screen-only) {
    width: 300px;
    height: 300px;
    border-radius:  150px;
  }
}

.user-ratings {
  @include media($mobile-screen-only) {
    p {
      font-size: rem(12);
      text-align: center;
    }
  }
}

////////// MAP //////////
// }
// #get_location {
//   margin-bottom: rem(20);
// }

// .location-button {
//   margin-top: rem(20);
// }

// .user-map {
//   margin-bottom: rem(20);
//   width: 100%;
  // @include media($large-screen-only) {

    // @include span-columns(6);
    // width: 100%;
    // height: 100%

// }

// .user-map-canvas {
//   @include media($large-screen-only) {
//     @include span-columns(12);
//     width: 100%;
//     height: 300px;
//     margin-bottom: rem(10);
//     margin-left: rem(10);
//     margin-right: rem(10);
//   }
// }