#get_location {
  margin-bottom: rem(20);
}

.location-button {
  margin-top: rem(20);
}

.map {
  margin-bottom: rem(20);
}

.submit-button {
  margin-bottom: rem(20);
}

.profile-pic {
  border-radius: rem(10);
  background-repeat: no-repeat;
  background-position: 50%;
}