.signup {
  @include media($mobile-screen-only) {

  }

  @include media($large-screen-only) {
    margin-top: $nav-height;
    padding: 10px;
  }
  form {
    width: 50%;
    margin: 0 auto;
  }
}


.field {
  @include media($mobile-screen-only) {
    width: 100%;
  }
  label {
    margin: 0;
    padding: 0;
  }
  input {
    margin-bottom: 0;
    height: 25px;
  }
  @include media($large-screen-only) {
    margin: 0 auto;
    width: 75%;
    padding: 0 rem(10) 0 0;
    input {
    margin: 0 auto;
    height: rem(28);
    }
  }
}

.imageupload {
  @include media($large-screen-only) {
    margin: 0 auto;
    width: 75%;
  }
}

.signup-button {
  @include media($mobile-screen-only) {
    left: 50%;
    width: 100%;
    border-radius: 3px 3px 0 0;
      input {
        width: 100%;
        margin-bottom: $nav-height + 10;
      }
  }
  @include media($large-screen-only) {
    width: 100%;
    text-align: center;
    input {
    width: 30%;
    }
  }
}

.signup-heading-text {
  @include media($large-screen-only) {
    display: none;
  }
}

